.cardStyles:hover{
        transform: scale(1.05);
     box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.btn-flat {
    background-color: darkgoldenrod;
    color:  white;
  }
  .btn-buy {
    background-color: green;
    color:  white;
  }

  .btn-xxl {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }